<div>

  <div class="page-block">
    <div class="content d-flex flex-column justify-content-center align-items-center">
      <div class="fs-1 mb-2">Hi, my name is vinod</div>
      <div>I am a Full stack developer</div>
      <div class="anime1 pointer" (click)="goToThatBlock(1, true)">
        <mat-icon>arrow_downward</mat-icon>
      </div>
    </div>
  </div>

  <div class="page-block">
    <div class="content d-flex flex-column justify-content-center align-items-center">
      <div class="fs-1 mb-3">My expertises are....</div>
      <div class="d-flex justify-content-center align-items-center flex-wrap gap-3 mb-4">
        <div class="big-tech">HTML</div>
        <div class="big-tech">CSS</div>
        <div class="big-tech">Javascript/ Typescript</div>
        <div class="big-tech">Angular</div>
        <div class="big-tech">Node</div>
        <div class="big-tech">Express js</div>
      </div>
      <div class="d-flex justify-content-center align-items-center flex-wrap gap-2 mb-5">
        <div class="small-tech">Angular Material</div>
        <div class="small-tech">python</div>
        <div class="small-tech">django</div>
        <div class="small-tech">Prisma</div>
        <div class="small-tech">Nest js</div>
        <div class="small-tech">Bootstrap</div>
        <div class="small-tech">Ag-grid</div>
      </div>
      <div class="anime1 pointer" (click)="goToThatBlock(2, true)">
        <mat-icon class="">arrow_downward</mat-icon>
      </div>
    </div>
  </div>

  <div class="page-block">
    <div class="content d-flex flex-column justify-content-center align-items-center">
      <div class="fs-1 mb-2">content coming soon....</div>
      <div>......</div>
      <div class="anime1 pointer" (click)="goToThatBlock(0, true)">
        <mat-icon>arrow_upward</mat-icon>
      </div>
    </div>
  </div>
</div>